@inject MoveNowB.Services.Interfaces.ICarRepository _carRepos
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <blockquote style="border-left: 5px solid #009688;">Our Brands</blockquote>
                @if (SignInManager.IsSignedIn(User))
                {
                    if (User.IsInRole("Admin"))
                    {
                        <a asp-action="AddCar" class="btn">Add New<i class="material-icons right">add</i></a>
                    }
                }
                <a asp-action="AllCars" class="black-text btn z-depth-0 white">All<i class="material-icons right black-text">chevron_right</i></a>
                @foreach (var car in _carRepos.GetBrands())
                {
                    <a asp-action="BrandCars" asp-route-name="@car" class="black-text btn z-depth-0 white">@car<i class="material-icons right black-text">chevron_right</i></a>
                }
            </div>
        </div>
    </div>
</section>
