@inject MoveNowB.Services.Interfaces.ICarRepository _carRepos

<nav class="white z-depth-0" style="height:auto">
    <div class="nav-wrapper container">
        <div class="col s12">

            <a href="#!" class="breadcrumb indigo-text"><i class="material-icons indigo-text">apps</i> &nbsp;Our Models</a>
            <a asp-action="AllCars" class="breadcrumb black-text">All</a>
            @foreach (var car in _carRepos.GetBrands())
            {
                <a asp-action="BrandCars" asp-route-name="@car" class="breadcrumb black-text">@car</a>
            }
        </div>
    </div>
</nav>
