@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MoveNow</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Add materialize css icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="navbar-fixed">
            <nav class="teal">
                <div class="nav-wrapper container">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="brand-logo">MoveNowB</a>
                    <ul class="right hide-on-med-and-down">
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            if (User.IsInRole("Admin"))
                            {
                            <li>
                                <a asp-area="" asp-controller="ShowCases" asp-action="Index">Show Cases</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Administration" asp-action="ListRoles">Roles</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="RentCar" asp-action="Dashboard"><i class="material-icons">dashboard</i></a>
                            </li>
                            }
                            <li>
                                <a asp-area="" asp-controller="RentCar" asp-action="Index"><i class="material-icons">directions_car</i></a>
                            </li>
                            <li>
                                <form method="post" asp-controller="account" asp-action="logout">
                                    <button type="submit" style="width:auto"
                                            class="btn">
                                        Logout
                                    </button>
                                </form>
                            </li>

                        }
                        else
                        {
                            <li>
                                <a asp-controller="Account" asp-action="register">Register</a>
                            </li>
                            <li>
                                <a asp-controller="Account" asp-action="login">Log In</a>
                            </li>
                        }
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <footer class="border-top footer teal white-text">
        <div class="container">
            &copy; 2021 - MoveNowB - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large left" onclick="goBack()">
            <i class="large material-icons">arrow_back</i>
        </a>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
