@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="center flow-text">@ViewData["Title"]</h1>
<section class="section">
    <p class="container">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo cumque iure iusto dolores
        facilis culpa nisi nemo laborum amet sequi, sapiente, unde maiores eaque, quod maxime ipsa
        a voluptatum dolorem voluptatem perferendis inventore minima modi? Facere eos modi quam non,
        esse distinctio assumenda mollitia qui ad, harum tenetur odit rem nemo! Consequuntur
        doloremque dolores nihil, nam deleniti asperiores modi ducimus placeat necessitatibus aut
        ipsa eaque odit et. Modi et explicabo laudantium voluptatum atque dignissimos eveniet ad
        fugit adipisci quis quaerat vero quia natus nobis impedit, praesentium est porro sint aperiam!
        Perspiciatis vitae eaque vel ipsam corporis itaque non repellendus eos aperiam, modi sapiente
        eius quo totam possimus adipisci illum voluptatem, rem, similique iure dolores ducimus in enim?
        Accusamus facere harum expedita deleniti voluptas esse doloribus iusto dolorum odit autem nesciunt
        deserunt ab odio nisi, natus quia corporis sapiente ad eos,
        reprehenderit velit. Sequi nihil voluptatibus autem temporibus dolorem distinctio nesciunt?
    </p>
</section>
<section class="section teal-text">
    <p class="container">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo cumque iure iusto dolores
        facilis culpa nisi nemo laborum amet sequi, sapiente, unde maiores eaque, quod maxime ipsa
        a voluptatum dolorem voluptatem perferendis inventore minima modi? Facere eos modi quam non,
        esse distinctio assumenda mollitia qui ad, harum tenetur odit rem nemo! Consequuntur
        doloremque dolores nihil, nam deleniti asperiores modi ducimus placeat necessitatibus aut
        ipsa eaque odit et. Modi et explicabo laudantium voluptatum atque dignissimos eveniet ad
        fugit adipisci quis quaerat vero quia natus nobis impedit, praesentium est porro sint aperiam!
        Perspiciatis vitae eaque vel ipsam corporis itaque non repellendus eos aperiam, modi sapiente
        eius quo totam possimus adipisci illum voluptatem, rem, similique iure dolores ducimus in enim?
        Accusamus facere harum expedita deleniti voluptas esse doloribus iusto dolorum odit autem nesciunt
        deserunt ab odio nisi, natus quia corporis sapiente ad eos,
        reprehenderit velit. Sequi nihil voluptatibus autem temporibus dolorem distinctio nesciunt?
    </p>
</section>
<section class="section">
    <p class="container">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo cumque iure iusto dolores
        facilis culpa nisi nemo laborum amet sequi, sapiente, unde maiores eaque, quod maxime ipsa
        a voluptatum dolorem voluptatem perferendis inventore minima modi? Facere eos modi quam non,
        esse distinctio assumenda mollitia qui ad, harum tenetur odit rem nemo! Consequuntur
        doloremque dolores nihil, nam deleniti asperiores modi ducimus placeat necessitatibus aut
        ipsa eaque odit et. Modi et explicabo laudantium voluptatum atque dignissimos eveniet ad
        fugit adipisci quis quaerat vero quia natus nobis impedit, praesentium est porro sint aperiam!
        Perspiciatis vitae eaque vel ipsam corporis itaque non repellendus eos aperiam, modi sapiente
        eius quo totam possimus adipisci illum voluptatem, rem, similique iure dolores ducimus in enim?
        Accusamus facere harum expedita deleniti voluptas esse doloribus iusto dolorum odit autem nesciunt
        deserunt ab odio nisi, natus quia corporis sapiente ad eos,
        reprehenderit velit. Sequi nihil voluptatibus autem temporibus dolorem distinctio nesciunt?
    </p>
</section>
